.button{

    width: 200px;
    height: 50px;

    background-color: gray;
    color: white;
    border-radius: 5px;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    position: absolute;

}